<%= add_javascript_pack_with_chunks 'welcome' %>

<h1>Welcome</h1>

<div data-controller="welcome">
  <input data-target="welcome.message" type="text">
  <button data-action="click->welcome#greet">Greet Welcome Controller</button>
</div>

<p>The following text should read in human-friendly "time ago" as converted in JavaScript.</p>
<% timestamp = (rand(10) + 1).hours.ago.iso8601(3) %>
<div>
  Posted
  <span class="timeago" data-timestamp="<%= timestamp %>">
    <%= timestamp %>
  </span>
</div>
