<style>
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}
</style>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
