<div id="cookies-eu-banner" style="display: none;">
  By continuing to visit this site, you accept the use of cookies by Google Analytics for statistical purposes.
  <a href="./read-more.html" id="cookies-eu-more">Read more</a>
  <button id="cookies-eu-reject">Reject</button>
  <button id="cookies-eu-accept">Accept</button>
</div>

<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
