.enchiladas {
  background-image: url("../images/enchiladas.jpg");
  background-position: center;
  max-width: 75vh;
  height: 50vh;
}

.nachos {
  background-image: url("~images/nachos.jpg");
  background-position: center;
  max-width: 75vh;
  height: 50vh;
}
